<ion-header>
  <ion-navbar hideBackButton color="blueRotoplas">

    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center style="padding-right:60px">
      Crear Oportunidad C
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 class="titulo">
    Información de Planta
  </h5>

  <ion-item>
    <ion-label><b>Nombre de Planta</b></ion-label>
    <ion-input disabled text-right type="text" [(ngModel)]="ptarName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="white-space: normal"><b>Cliente</b></ion-label>
    <ion-select style="width: 50%" [(ngModel)]="clienteSeleccionado">
      <ion-option *ngFor="let cliente of clientes" [value]="cliente.sfid">{{cliente.name}}</ion-option>
    </ion-select>
  </ion-item>

  <!-- <ion-item>
    <ion-label><b>Fecha de Apertura</b></ion-label>
    <ion-datetime text-right disabled displayFormat="DD/MM/YYYY" [(ngModel)]="ptarDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label><b>Tipo de Ticket</b></ion-label>
    <ion-input disabled text-right type="text" [(ngModel)]="ticketType"></ion-input>
  </ion-item> -->

  <br>

  <h5 class="titulo">
    Detalle de la Oportunidad C
  </h5>

  <ion-item>
    <ion-label style="white-space: normal"><b>Motivo</b></ion-label>
    <ion-select style="width: 50%" [(ngModel)]="motivoSeleccionado" (ionChange)="getDescripcionMotivos(motivoSeleccionado)">
      <ion-option *ngFor="let motivo of motivos" [value]="motivo">{{motivo.name}}</ion-option>
    </ion-select>
  </ion-item>

  <br>

  <ion-item>
    <ion-label style="white-space: normal"><b>Descripción</b></ion-label>
    <ion-select [disabled]="!descripcionesMotivos" style="width: 50%" [(ngModel)]="descripcionSeleccionada" (ionChange)="getMotivosDesestabilizacion(descripcionSeleccionada)">
      <ion-option *ngFor="let descripcion of descripcionesMotivos" [value]="descripcion">{{descripcion.name}}</ion-option>
    </ion-select>
  </ion-item>

  <br>

  <ion-item>
    <ion-label style="white-space: normal"><b>Motivo de Desestabilización</b></ion-label>
    <ion-select [disabled]="!motivosDesestabilizacion" style="width: 50%" [(ngModel)]="motivoDesestabilizacionSeleccionado">
      <ion-option *ngFor="let motivo of motivosDesestabilizacion" [value]="motivo">{{motivo.name}}</ion-option>
    </ion-select>
  </ion-item>

  <br>

  <h5 class="titulo">
    Observaciones
  </h5>

  <ion-item>
    <ion-label><b>Descripción</b></ion-label>
    <ion-textarea rows="4" type="text" [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label style="white-space: normal"><b>Envío de Agua</b></ion-label>
    <ion-select style="width: 50%" [(ngModel)]="serviceType">
      <ion-option value="Env\u00eda Agua Potable">Envía Agua Potable</ion-option>
      <ion-option value="Env\u00eda Agua Residual Tratada">Envía Agua Residual Tratada</ion-option>
      <ion-option value="No Env\u00eda Agua">No envía agua</ion-option>
      <ion-option value="No Aplica">No Aplica</ion-option>
    </ion-select>
  </ion-item>

  <br>

  <h5 class="titulo">
    Evidencias
  </h5>

  <ion-grid>

    <ion-row>

      <ion-col col-3 *ngFor="let image of images; let i = index">
        <ion-thumbnail>
          <img [src]="image" alt="">
        </ion-thumbnail>
        <ion-fab *ngIf="images.length > 0" class="fabDeleteImagen">
          <button class="botonEliminarImagen" (click)="eliminarImagen(i, image)" color="dark" ion-fab mini><ion-icon name="close"></ion-icon></button>
        </ion-fab>
      </ion-col>

      <ion-col col-3>
        <ion-fab *ngIf="images.length < 5">
          <button ion-fab mini color="danger" (click)="capturar()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
      </ion-col>

    </ion-row>
  </ion-grid>


  <br><br><br>

  <ion-grid>
    <ion-row>
      <ion-col text-right>
        <button ion-button color="blueRotoplas" (click)="createTicket()" [disabled]="!clienteSeleccionado || !serviceType || !motivoSeleccionado || (descripcionesMotivos && !descripcionSeleccionada) || (motivosDesestabilizacion && !motivoDesestabilizacionSeleccionado)">Crear</button>
      </ion-col>

      <ion-col text-left>
        <button ion-button color="blueRotoplas" (click)="cancel()">Cancelar</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
