page-detalle-rutina {
  ion-slides{
    height: auto;
  }

  .toggle-md.toggle-checked .toggle-icon{
    background-color: #0014ff !important;
  }
  .toggle-md .toggle-icon{
    background-color: black !important;
  }
  
  ion-label{
    white-space: normal;
  }
}
