<!--
  Generated template for the PasswordRecoveryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="blueRotoplas">
    <ion-title text-center style="padding-right:60px">Olvidé Mi Contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 padding>Tengo el código de seguridad</h3>
  <!-- <ion-item> -->
  <ion-item>
    <ion-label><b>Usuario:</b></ion-label>
    <ion-input text-right type="text" placeholder="jperez" [(ngModel)]="usuario" text-lowercase></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><b>Código:</b></ion-label>
    <ion-input text-right type="number" placeholder="123456" [(ngModel)]="codigo"></ion-input>
  </ion-item>

  <div padding text-right>
    <button color="blueRotoplas" class="boton" [disabled]="!usuario || !codigo" ion-button item-right (click)="verificarCodigo()">Cambiar Contraseña</button>
  </div>

  <br><br>

  <h3 padding>No tengo código de seguridad</h3>
  <!-- <ion-item> -->
  <ion-item>
    <ion-label><b>Usuario:</b></ion-label>
    <ion-input text-right type="text" placeholder="jperez" [(ngModel)]="usuarioGeneracion" text-lowercase></ion-input>
  </ion-item>

  <div padding text-right>
    <button color="blueRotoplas" class="boton" [disabled]="!usuarioGeneracion" ion-button item-right (click)="generar()">Generar Código</button>
  </div>

  <!-- </ion-item> -->
  <!-- <form [formGroup]="resetForm" (ngSubmit)="resetPass(resetForm.value)">

    <ion-item [ngClass]="{'error-border':!resetForm.controls.key.valid && resetForm.controls.key.touched}" inset padding>
      <ion-input formControlName="key" type="text" placeholder="Código de seguridad"></ion-input>
      <button color="blueRotoplas" ion-button item-right>Envíar código</button>
    </ion-item>
    <ion-label padding-left color="red" *ngIf="resetForm.controls.key.hasError('required') && resetForm.controls.key.touched">CLave Inválida</ion-label>
  </form>

  <br><br>

  <h3 padding>No tengo el código de seguridad</h3>

  <form [formGroup]="generateKeyForm" (ngSubmit)="generateKey(generateKeyForm.value)">
    <ion-item [ngClass]="{'error-border':!generateKeyForm.controls.username.valid && generateKeyForm.controls.username.touched}" inset padding>
      <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
      <button color="blueRotoplas" ion-button item-right>Generar Clave</button>
    </ion-item>
    <ion-label padding-left color="red" *ngIf="generateKeyForm.controls.username.hasError('required') && generateKeyForm.controls.username.touched">Sorry, field username is required!</ion-label>
  </form> -->
  <!-- <ion-label *ngIf="!username" padding-left color="red">Invalid Username</ion-label> -->

</ion-content>
