<ion-header>
  <ion-navbar hideBackButton color="blueRotoplas">

    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center style="padding-right:60px">
      Oportunidades C
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding-top>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item class="fondoNuevo" (click)="irAPagina('NuevoTicketPage')">
      <button detail-none ion-item class="fondoNuevo">
        <ion-icon name="briefcase" isActive="false" item-start></ion-icon>
        Oportunidades C
        <button color="blueRotoplas" item-right ion-button style="width:40%">Nuevo</button>
      </button>
    </ion-item>

    <ion-item>
      <button detail-none ion-item (click)="toggleLista()">
        <ion-icon name="list" padding-right></ion-icon>
        <ion-icon [name]="listaAbierta ? 'arrow-dropdown' : 'arrow-dropright'" isActive="false" item-end></ion-icon>
        Mis Oportunidades C
      </button>
    </ion-item>

    <div *ngIf="listaAbierta">

      <ion-item *ngIf="ticketList.length == 0">
        <ion-label padding-left>No hay oportunidades c</ion-label>
      </ion-item>

      <ion-item *ngFor="let ticket of ticketList">
        <h2 padding-left>{{ticket.reason}}</h2>
        <p padding-left>Estado: {{!ticket.status ? 'Abierta' : ticket.status}}</p>
      </ion-item>
    </div>

  </ion-list>

</ion-content>
