<ion-header>
  <ion-navbar hideBackButton color="blueRotoplas">

    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center style="padding-right:60px">
      Crear Rutina
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 class="titulo">
    Tipo de Rutina
  </h5>

  <ion-item>
    <ion-label><b>Rutina</b></ion-label>
    <ion-select [(ngModel)]="tipoRutina" (ionChange)="getActividades(tipoRutina)" cancelText="Cancelar" okText="Aceptar">
      <ion-option *ngFor="let tipo of tipoRutinas" [value]="tipo.sfid">{{tipo.nombre__c}}</ion-option>
    </ion-select>
  </ion-item>

  <h5 class="titulo">
    Información PTAR
  </h5>

  <ion-item>
    <ion-label><b>Nombre PTAR</b></ion-label>
    <ion-input disabled text-right type="text" [(ngModel)]="ptarName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><b>Determinante</b></ion-label>
    <ion-input disabled text-right type="text" [(ngModel)]="determinante"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><b>Fecha de Rutina</b></ion-label>
    <ion-datetime text-right disabled displayFormat="DD/MM/YYYY" [(ngModel)]="ptarDate"></ion-datetime>
  </ion-item>

  <br>

  <div *ngIf="activities.length > 0">

    <h5 class="titulo">
      Informe de Rutina
    </h5>

    <ion-slides pager>

      <ion-slide *ngFor="let activity of activities">

        <ion-label text-wrap>
          {{activity.name}}
        </ion-label>


        <ion-item *ngIf="activity.tipo_de_respuesta__c">
          <ion-label stacked>Si/No</ion-label>
          <ion-toggle checked="false"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="!activity.tipo_de_respuesta__c">
          <ion-label stacked>m3</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="activity.valor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Observaciones</ion-label>
          <ion-textarea rows="4" type="text" [(ngModel)]="activity.observacion"></ion-textarea>
        </ion-item>

      </ion-slide>

    </ion-slides>

    <!-- <ion-row>
      <ion-col text-right>
        <button ion-button color="primary" (click)="cancel()">Cancelar</button>
      </ion-col>

      <ion-col text-left>
        <button ion-button color="primary">Crear</button>
      </ion-col>
    </ion-row> -->

  </div>

  <ion-row>

    <ion-col text-right>
      <button ion-button color="primary">Crear</button>
    </ion-col>
    <ion-col text-left>
      <button ion-button color="primary" (click)="cancel()">Cancelar</button>
    </ion-col>
  </ion-row>


</ion-content>
