<ion-header>
  <ion-navbar hideBackButton color="blueRotoplas">

    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center style="padding-right:60px">
      Crear Rutina
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <h5 class="titulo">
    Tipo de Rutina
  </h5>

  <ion-item>
    <ion-label><b>Rutina</b></ion-label>
    <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="tipoRutina" (ionChange)="getActividades(tipoRutina, turno)" cancelText="Cancelar" okText="Aceptar">
      <ion-option *ngFor="let tipo of tipoRutinas" [value]="tipo.sfid">{{tipo.nombre__c}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label><b>*Turno</b></ion-label>
    <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="turno" [disabled]="!tipoRutina" (ionChange)="getActividades(tipoRutina, turno)" cancelText="Cancelar" okText="Aceptar">
      <ion-option [value]="Matutino">Matutino</ion-option>
      <ion-option [value]="Vespertino">Vespertino</ion-option>
    </ion-select>
  </ion-item>

  <h5 class="titulo">
    Información de Planta
  </h5>

  <ion-item>
    <ion-label><b>Planta</b></ion-label>
    <ion-input disabled text-right type="text" [(ngModel)]="ptarName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><b>Determinante</b></ion-label>
    <ion-input disabled text-right type="text" [(ngModel)]="determinante"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><b>Formato</b></ion-label>
    <ion-input disabled text-right type="text" [(ngModel)]="formato"></ion-input>
  </ion-item>

  <h5 class="titulo">
    Observación
  </h5>

  <ion-item>
    <ion-textarea rows="4" type="text" [(ngModel)]="observacion"></ion-textarea>
  </ion-item>

  <br>

  <div *ngIf="activities.length > 0">

    <h5 class="titulo">
      Informe de Rutina
    </h5>

    <ion-slides pager>

      <ion-slide *ngFor="let activity of activities">

        <ion-label text-wrap>
          {{activity.name}}
        </ion-label>


        <ion-item *ngIf="activity.tipo_de_respuesta__c">
          <ion-label stacked>No/Si</ion-label>
          <ion-toggle checked="false" [(ngModel)]="activity.valor"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="!activity.tipo_de_respuesta__c">
          <ion-label stacked>*Valor</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="activity.valor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Observaciones</ion-label>
          <ion-textarea rows="4" type="text" [(ngModel)]="activity.observaciones"></ion-textarea>
        </ion-item>
        <br><br>

      </ion-slide>

    </ion-slides>


  </div>

  <br>

  <h5 class="titulo">
    Evidencias
  </h5>

  <ion-grid>

    <ion-row>

      <ion-col col-3 *ngFor="let image of images; let i = index">
        <ion-thumbnail>
          <img [src]="image" alt="">
        </ion-thumbnail>
        <ion-fab *ngIf="images.length > 0" class="fabDeleteImagen">
          <button class="botonEliminarImagen" (click)="eliminarImagen(i, image)" color="dark" ion-fab mini><ion-icon name="close"></ion-icon></button>
        </ion-fab>
      </ion-col>

      <ion-col col-3>
        <ion-fab>
          <button ion-fab mini color="danger" (click)="capturar()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
      </ion-col>

    </ion-row>
  </ion-grid>


  <br><br><br>

  <ion-row>

    <ion-col text-right>
      <button ion-button color="blueRotoplas" [disabled]="!tipoRutina || !turno || respuestasIncompletas() || activities.length == 0" (click)="crearRutina()" *ngIf="!loading">Crear</button>
      <button ion-button color="blueRotoplas" ion-button disabled class="loginButton" *ngIf="loading"><ion-spinner></ion-spinner></button>
    </ion-col>
    <ion-col text-left>
      <button ion-button color="blueRotoplas" (click)="cancel()">Cancelar</button>
    </ion-col>
  </ion-row>


</ion-content>
