page-checkout {
  #map_canvas{
    display: block;
    height: 70%;
    width: 100%;
  }

  .fabDeleteImagen{
    // margin-top: -60px;
    // margin-left: 45px;
    z-index: 2;
    position: absolute;
    left: 0%;
    top: 0%;
    margin: auto;
  }
}
